@import "base.css";
@import "components.css";
@import "utilities.css";
@import "gallery.css";

/* Hide scrollbar utility */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Make all scrollbars white */
body, * {
  scrollbar-color: #fff #fff !important; /* Firefox */
}
::-webkit-scrollbar {
  width: 8px;
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 8px;
}
